<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Homeapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Homeapp" %>">
    <%= stylesheet_link_tag "application"%>
    <%= javascript_include_tag "application"%>

    <%= csrf_meta_tags %>
  </head>
  <body>
       <%= yield %>
  </body>
</html>
